Repository danutzcodrescu/electron-bookshelf: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, eslint --quiet

.lintstagedrc:

{
    "**/*.{js,ts,tsx,json,css,scss,md}": [
      "prettier --config ./.prettierrc --write",
    ],
    "src/**/*.{js,ts,tsx}": [
      "eslint --quiet",
    ]
  }

feat 🚀: display authors and books
  .eslintignore
  .eslintrc.json
  codegen.yml
  package-lock.json
  package.json
  src/main/main.ts
  src/renderer/components/Application.tsx
  src/renderer/components/Create/Create.tsx
  src/renderer/components/Layout/Layout.tsx
  src/renderer/generated/graphql.ts
  src/renderer/theme/index.ts
  src/renderer/views/Authors/AuthorsList.tsx
  src/renderer/views/Authors/NewAuthor.tsx
  src/renderer/views/Authors/queries/mutations.ts
  src/renderer/views/Authors/queries/queries.ts
  src/renderer/views/Books/Books.tsx
  src/renderer/views/Books/NewBook.tsx
  src/renderer/views/Books/components/Search.tsx
  src/renderer/views/Books/queries/queries.ts
Due: prettier --config ./.prettierrc --write, eslint --quiet

feat 🚀: export to pdf
  .babelrc.js
  build/icon.png
  package-lock.json
  package.json
  src/events.ts
  src/main/exportToPDF.ts
  src/main/main.ts
  src/main/tray.ts
  src/renderer/components/Application.tsx
  src/renderer/components/ExportToPDFIcon/ExportToPDFIcon.tsx
  src/renderer/views/Authors/Authors.tsx
  src/renderer/views/Authors/AuthorsList.tsx
  src/renderer/views/Authors/components/AuthorsList.tsx
  src/renderer/views/Books/Books.tsx
  src/renderer/views/Books/components/BooksList.tsx
  src/renderer/views/Books/components/Search.tsx
  src/renderer/views/export/ExportToPDF.tsx
  webpack.main.config.js
  webpack.main.dev.config.js
  webpack.renderer.config.js
Due: prettier --config ./.prettierrc --write, eslint --quiet

feat 🚀: add tray icon
  src/main/tray.ts
  static/icon.png
  webpack.renderer.config.js
Due: prettier --config ./.prettierrc --write, eslint --quiet

feat 🚀: offline sync on mutations
  .eslintrc.json
  package-lock.json
  package.json
  src/events.ts
  src/main/main.ts
  src/main/network-status.ts
  src/renderer/components/Application.tsx
  src/renderer/components/ElectronNetworkStatus/ElectronNetworkStatus.tsx
  src/renderer/components/ElectronNetworkStatus/utils/insertOfflineData.tsx
  src/renderer/context/network-status.tsx
  src/renderer/generated/graphql.ts
  src/renderer/utils/save-request.ts
  src/renderer/views/Authors/Authors.tsx
  src/renderer/views/Authors/components/AuthorsList.tsx
  src/renderer/views/Authors/queries/mutations.ts
  src/renderer/views/Authors/queries/queries.ts
  src/renderer/views/Books/NewBook.tsx
  src/renderer/views/Books/components/BooksList.tsx
  src/renderer/views/Books/queries/mutations.ts
  src/renderer/views/Books/queries/queries.ts
  tsconfig.json
  webpack.main.config.js
Due: prettier --config ./.prettierrc --write, eslint --quiet

feat 🚀: offline search with sqlite3
  .gitignore
  package-lock.json
  package.json
  src/events.ts
  src/main/network-status.ts
  src/renderer/components/ElectronNetworkStatus/ElectronNetworkStatus.tsx
  src/renderer/components/ElectronNetworkStatus/utils/offlineSearch.tsx
  src/renderer/views/Authors/Authors.tsx
  src/renderer/views/Authors/queries/queries.ts
  src/renderer/views/Books/Books.tsx
  src/renderer/views/Books/queries/queries.ts
  webpack.main.config.js
Due: prettier --config ./.prettierrc --write, eslint --quiet

fix 🔨: extract db models from gitignore
  .gitignore
  src/main/db/index.ts
  src/main/db/models/Author.ts
  src/main/db/models/Book.ts
Due: prettier --config ./.prettierrc --write, eslint --quiet

feat 🚀: add autoupdate
  .github/workflows/release.yml
  build/icon.png
  package-lock.json
  package.json
  src/main/autoUpdater.ts
  src/main/db/index.ts
  src/main/main.ts
  webpack.main.prod.config.js
Due: prettier --config ./.prettierrc --write, eslint --quiet

feat 🚀: update buttons in tray
  .prettierrc
  build/icon.png
  src/main/autoUpdater.ts
  src/main/main.ts
  src/main/tray.ts
  static/icon.png
Due: prettier --config ./.prettierrc --write, eslint --quiet

chore 🤖: bump version number
  package.json
Due: prettier --config ./.prettierrc --write

chore 🤖: added readme and hasura setup instructions
  README.md
  hasura/hasura_metadata.json
  hasura/run.png
  hasura/sql.png
  hasura/structure.sql
Due: prettier --config ./.prettierrc --write

feat 🚀: added notifications, logging and electron-store for resize
  package-lock.json
  package.json
  src/main/autoUpdater.ts
  src/main/db/index.ts
  src/main/exportToPDF.ts
  src/main/main.ts
  src/main/network-status.ts
  src/main/tray.ts
  static/.editorconfig
Due: prettier --config ./.prettierrc --write, eslint --quiet

chore 🤖: readme for how to push tag
  README.md
Due: prettier --config ./.prettierrc --write

chore 🤖: update the logos
  .editorconfig
  build/icon.png
  package-lock.json
  static/icon.png
Due: prettier --config ./.prettierrc --write

chore 🤖: update logos
  build/icon.png
  static/icon.png
Due: none

fix 🔨: export to pdf is using wrong method to open the created item
  src/renderer/components/Application.tsx
  src/renderer/components/ExportToPDFIcon/ExportToPDFIcon.tsx
Due: prettier --config ./.prettierrc --write, eslint --quiet

chore 🤖: bump dependencies
  .gitignore
  package-lock.json
  package.json
Due: prettier --config ./.prettierrc --write
